@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>About Us</h1>
            <div class="page-nav">
                <p><a href="#">Home</a> &nbsp; | &nbsp; <a href="#">About Us</a></p>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT START -->
<section>
    <!-- ABOUT US START -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-5">
                <figure class="agroly-about-img">
                    <img src="~/Content/NewFront/images/common/about.jpg" alt="">
                </figure>
            </div>
            <div class="col-lg-7 col-mt-lg">
                <div class="about-agroly-info">
                    <h5>About Vital Seed</h5>
                    @*<h2>Bright nature <br /><span class="light-text">of decision</span></h2>*@
                <p>
                    The idea of establishing the company was conceived about 5 years ago (2016) between the major stakeholders that are actively engaged in crop production, animal production, and seed multiplication of different crops and forages for government owned institutions and private seed companies. Agriculture (across different value chain) has been our engagement which has been our expertise for decades since from University years.
                </p>                    
                    <figure class="signature">
                        <img src="~/Content/NewFront/images/common/signature.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>   
</section>
<!-- CONTENT END -->
